canvas {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 10;
  pointer-events: all;
}

* {
  margin: 0;
  padding: 0;
}

html {
  font-family: "Chakra Petch", sans-serif;
  font-size: 62.5%;
  color: #333;
}

body {
  width: 100dvh;
  height: 100dvh;
  display: flex;
}

.btn {
  color: white;
  background-color: #333;
  border: none;
  border-radius: 10%;
  padding: 20%;
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  text-decoration: none;
}



/* configure tab */


/* configure size */
.configure-tabs {
  background-color: #fff;
  display: flex;
  flex-direction: column;
  padding: 1.8rem 2rem;
  gap: 2rem;
  border-bottom-right-radius: 8px;
  height: fit-content;
  max-width: 38rem;
  z-index: 12;
  width: 30dvw;
}

.select-tab-container {
  display: flex;
  font-size: 1.6rem;
  align-items: center;
  padding-bottom: 0.4rem;
}

.open-tab-btn {
  width: 50%;
  text-align: center;
  border-bottom: 2px solid #ced4da;
  transition: 0.2s;

}

.tab--active {
  border-bottom: 2px solid #333;
}

.select-tab-container .open-tab-btn {
  cursor: pointer;
}

.size-container {
  display: flex;
  flex-direction: column;
  gap: 1.6rem;
}

.select-size,
.select-structure {
  display: flex;
  flex-direction: column;
  gap: 0.8rem;
}

.configure-tabs h4 {
  font-size: 1.6rem;
}

.select-size .inputs {
  display: flex;
}

.inputs {
  display: flex;
  flex-wrap: wrap;
  gap: 1rem;
}

.inputs .size-option {
  font-size: 1.4rem;
  border: 1px solid #333;
  padding: 0.4rem;
  width: 2.5rem;
  text-align: center;
  cursor: pointer;
  transition: 0.3s;
  background: linear-gradient(#dee3e9, #dee3e9);
  background-color: transparent;
  background-size: 0% 100%;
  background-repeat: no-repeat;
  border-radius: 3px;
}

.size-option--active {
  background: linear-gradient(#333, #333) !important;
  background-size: 100% 100%;
  color: #fff;
}

.size-option:hover:not(.size-option--active) {
  background-size: 100% 100%;
}

/* configure structure */


.structure-option img {
  height: 4.4rem;
  cursor: pointer;
  transition: all 0.3s;
}

.structure-option img:hover {
  transform: scale(1.1);
}




/* configure color */

.main-color-picker,
.frame-color-picker {
  display: flex;
  flex-direction: column;
}



.main-color-picker,
.frame-color-picker {
  gap: 0.8rem;
}

.configure-tab--color {
  display: flex;
  flex-direction: column;
  gap: 1.8rem;
}

.main-color-picker .inputs,
.frame-color-picker .inputs {
  display: flex;
  flex-wrap: wrap;
  gap: 0.8rem;
}

.color {
  width: 3.2rem;
  aspect-ratio: 1;
  cursor: pointer;
  border-radius: 2px;
}

.color--active {
  outline: 2px solid #333;
}

.color:nth-child(1) {
  background-color: #f1ece1;
}

.color:nth-child(2) {
  background-color: #c5c7c4;
}

.color:nth-child(3) {
  background-color: #6c6e6b;
}

.color:nth-child(4) {
  background-color: #383e42;
}

.color:nth-child(5) {
  background-color: #27292b;
}

.color:nth-child(6) {
  background-color: #004f7c;
}

.color:nth-child(7) {
  background-color: #008b29;
}

.color:nth-child(8) {
  background-color: #61993b;
}

.color:nth-child(9) {
  background-color: #e49e00;
}

.color:nth-child(10) {
  background-color: #e25303;
}

.color:nth-child(11) {
  background-color: #861a22;
}

.color:nth-child(12) {
  background-color: #d0b084;
}

.color:nth-child(13) {
  background-color: #513a2a;
}

.color:nth-child(14) {
  background-color: #6a5f31;
}

.color:nth-child(15) {
  background-color: #bd9460;
}

.color:nth-child(16) {
  background-color: #47261C;
}

.frame-color-picker .inputs .color:nth-child(1) {
  background-color: #0e0e10;
}

.frame-color-picker .inputs .color:nth-child(2) {
  background-color: #FFD700;
}

.frame-color-picker .inputs .color:nth-child(3) {
  background-color: #CD7F32;
}


.hidden {
  display: none !important;
}

/*progress bar*/
.overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.4);
  backdrop-filter: blur(8px);
  z-index: 98;
}

.progressbar {
  position: absolute;
  transform: translate(-50%, -50%);
  top: 30%;
  left: 50%;
  z-index: 99;
  width: 35%;
  height: 3.6rem;
  border: 2px solid #efefef;
  border-radius: 100px;
}

.progress {
  height: 100%;
  width: 0%;
  background-color: #efefef;
  border-bottom-left-radius: 100px;
  border-top-left-radius: 100px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.progress-text {
  position: absolute;
  transform: translate(-50%, -50%);
  top: 50%;
  left: 50%;
  width: 100%;
  text-align: center;
  font-size: 1.6rem;
}

/* delete btn */

.deleteModelBtn,
.resetBtn {
  padding: 1.8rem 2rem;
  z-index: 12;
  height: fit-content;
}

.resetBtn {
  padding: 1.8rem 0rem;
}

.resetBtn svg {
  transition: 0.5s;
  cursor: pointer;
  fill: #333;
  width: 3rem;

}

.deleteModelBtn svg {
  transition: 0.3s;
  cursor: pointer;
  fill: #999;
  cursor: not-allowed;
}


.active-btn svg {
  fill: #333;
  cursor: pointer;
}

.active-btn svg:hover {
  transform: rotate(20deg);
}

.resetBtn svg:hover {
  transform: rotate(-360deg);
}

@keyframes showResetContainer {
  0% {
    top: -100%;
  }

  100% {
    top: 40%;
  }
}

.resetConfirmContainer {
  position: absolute;
  transform: translate(-50%, -50%);
  top: 40%;
  left: 50%;
  z-index: 99;
  background-color: #fff;
  padding: 1.2rem;
  border-radius: 8px;
  font-size: 1.4rem;
}

.resetConfirmContainer h3 {
  font-size: 2rem;
  margin-bottom: 0.2rem;
}

.resetConfirmContainer .btns {
  display: flex;
  margin-top: 2.4rem;
  gap: 1.6rem;
}

.confirmResetBtn,
.cancelResetBtn {
  padding: 0.4rem 0.6rem;
  font-weight: 600;
  cursor: pointer;
  border-radius: 4px;
}

.confirmResetBtn {
  background-color: #f05621;
  color: #fff;
}

.cancelResetBtn {
  background-color: #c5c7c4;
}


/* PROTOTYPE */

.progressBarMainText {
  position: absolute;
  transform: translate(-50%, -50%);
  top: 40%;
  left: 50%;
  z-index: 99;
  line-height: 1;
  color: transparent;
  font-weight: bold;
  display: inline-block;
}

.progressBarMainText .outline {
  font-size: 22dvh;
  -webkit-text-stroke: 4px #f05621;
  letter-spacing: 1px;

}

.fill {
  position: absolute;
  top: 0;
  left: 0;
  overflow: hidden;
  font-size: 22dvh;
  white-space: no-wrap;
  width: 0%;
  height: 100%;
  color: #f05621;
  animation: none;
  pointer-events: none;
}

.percentage {
  text-align: center;
  font-size: 2.4rem;
  color: #f05621;
  font-weight: bold;
}


/* tutorial */

@keyframes showTutorial {
  0% {
    bottom: -20%;
  }

  100% {
    bottom: 0%;
  }
}

.tutorialContainer {
  z-index: 12;
  position: fixed;
  bottom: 0%;
  left: 0%;
  padding: 1.6rem;
  background-color: #fff;
  border-top-right-radius: 8px;
}

.tutorialContainer .tutorialHeader {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 1.2rem;
}

.tutorialContainer .tutorialHeader svg {
  width: 24px;
  cursor: pointer;
}

.tutorialContainer .tutorialHeader svg:hover {
  fill: #f05621;
}

.tutorialContainer svg {
  width: 28px;
}

.tutorialContainer h4 {
  font-size: 1.8rem;
}

.tutorialContainer ul {
  list-style: none;
}

.tutorialContainer ul {
  font-size: 1.4rem;
  display: flex;
  flex-direction: column;
  gap: 0.8rem;
}

.tutorialContainer ul li {
  display: flex;
  align-items: center;
}

.openTuturialBtn {
  z-index: 12;
  position: fixed;
  bottom: 0%;
  left: 0%;
  font-size: 1.6rem;
  padding: 1rem;
  text-decoration: underline;
  cursor: pointer;
}

.openTuturialBtn:hover {
  color: #f05621;
}

/* price container */


.price-container {
  position: fixed;
  z-index: 12;
  top: 0%;
  right: 0%;
  padding: 1em 1.8rem;
}

.price {
  font-size: 3rem;
  text-align: center;
  font-weight: bold;
}